@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<br>
<p>Mestrando em Computação Aplicada – UFMS 2022 – primeiro semestre;</p>
<p>
    Cursando Pós Graduação Lato Sensu em Robótica Educacional no IFMS;
</p>

<p>
    Tecnólogo em Redes de Computadores;
</p>
<p>
    Pós Graduação em Marketing Digital;
</p>
<p>
    Técnico em Desenvolvimento de Sistemas Web;
</p>
<p>
    Professor de Teoria Musical – Dono do site qteoria.com.br;
</p>
<p>
    Professor de Violino.
</p>
<p>
    Currículo Lattes: http://lattes.cnpq.br/6192738039315025
</p>
<p>
    Contato: 67-99624-9645
</p>
<p>
    Email: saulopsg@hotmail.com
</p>
<p> Linkedin: https://www.linkedin.com/in/saulo-pereira-silva </p>
<img src="https://eletrica.qteoria.com.br/wp-content/uploads/2022/02/saulo.jpg" />