@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professor @ViewData["Professor"]</p>

<address>
    <strong>More information: </strong> <a href="http://qteoria.com.br">Qteoria.com.br</a>
</address>